

body{
  width: 100%;
  margin: 0px;
  height: 100%;
  font-family: 'Inter';

}

.body{

  margin:5%;
}

.nav {
  display: flex;
  align-items: center;
  background-color: #F55A5A;
  width:100%;
  font-size: xx-large;
  font-weight: 500;
  letter-spacing: -0.075em;
  justify-content: center;
  box-shadow: 5px 5px 30px #888888;
  max-height: 90px;

}

.nav-logo {
  width: 60px;
}

.nav-items {
  list-style: none;
  display: flex;
  color:white;
  text-shadow: 5px 10px 15px #994a4a;


}

.nav-items > li {
  padding: 10px;
}

/* STYLES FOR THE CARDS */

.card{

  display:flex;
  flex-direction: row;
  padding: 5%;
  }

.card-img{
  width: 30%; 
  height: 30%; 
  object-fit: cover;
  border-radius: 5px;
  margin: 3%;
}

.card-line{
  border: 1px solid #F5F5F5;
}

.card-location{

  letter-spacing: 0.17em;
  color: #2B283A;
  margin-right: 5%;
  
    vertical-align: middle;

}

.material-symbols-outlined{
  vertical-align: middle;

}

.pushpin{
  color:#F55A5A;
}  


.card-link{

font-weight: 400;
/* identical to box height */
text-decoration-line: underline;
color: #918E9B;

}

a {

  color: #918E9B;
}

.card-dates{

  font-weight:600;
}

.card-description{

  font-family: 'Inter';
font-style: normal;
font-weight: 400;
line-height: 150%;

/* or 15px */


color: #2B283A;
}
/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/